@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
iframe{ background: transparent;margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size:100%;vertical-align: baseline; }
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a{outline:none;text-decoration:none;color:#616161;}
a:hover{text-decoration:none;}
.c, .clear{clear:both;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{*zoom:1;}
input, button,select,textarea{outline:none}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;-webkit-text-fill-color: #333;}
input:focus{outline:none;}
body{font-size:12px;font-family:"微软雅黑","黑体",Arial,Helvetica,Verdana,sans-serif; color: #3c3c3c; }


input[type="radio"],input[type="checkbox"] {/* margin: 4px 0 0; margin-top: 1px \9; */line-height: normal;}
input[type="file"] {display: block;}
input[type="range"] {display: block;width: 100%;}
select[multiple],select[size] {height: auto;}
input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus {
    outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}
output {display: block;padding-top: 7px;font-size: 14px;line-height: 1.42857143;color: #555;}
.form-control {display: inline-block;/* width: 100%; */height: 34px;padding: 6px 12px;font-size: 14px;
    line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;
    border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {border-color: #66afe9;outline: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);}
.form-control::-moz-placeholder {color: #999;opacity: 1;}
.form-control:-ms-input-placeholder {color: #999;}
.form-control::-webkit-input-placeholder {color: #999;}
.form-control[disabled],
    /*.form-control[readonly],*/
fieldset[disabled] .form-control {background-color: #eee;opacity: 1;}
.form-control[disabled],fieldset[disabled] .form-control {cursor: not-allowed;}
textarea.form-control {height: auto;}
.itext{ height:20px;line-height: 20px; padding:6px 0;text-indent: 6px; }
.itext_small{ padding: 4px 0;}
.iselect{ padding:6px 0;}

.mt_5{ margin-top: 5px;}
.mt_10{ margin-top: 10px;}
.mt_12{ margin-top: 12px;}
.mt_15{ margin-top: 15px;}
.mt_20{ margin-top: 20px;}
.mt_22{ margin-top: 22px;}
.mt_32{ margin-top: 32px;}
.mt_80{ margin-top: 80px;}
.mr_5{ margin-right: 5px;}
.ml_160{ margin-left: 160px;}

.plr_10{padding-left:10px;padding-right:10px;}
.plr_20{padding-left:20px;padding-right: 20px;}

.fleft{float:left;}
.fright{float:right;}
.mc980{width:980px;margin: 0 auto;}

.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f30{font-size: 30px;}

.blue{color: #2a97fb;}
.c9{ color: #999;}
.c6{ color: #6d6f75;}
.c4{ color: #434856;}
.c3{ color: #3e4350;}

.v02{ vertical-align: -2px;}

.lhead{height: 100px; line-height: 82px;border-bottom:1px solid #ebebeb;}
.llogo{ width:192px;height:59px;background: url("../imgs/login_logo.png") no-repeat;}
.llogo a{ width:100%;height:100%;text-indent: -9999px;}
.llogin{ color: #e9e9e9;}
.llogin a:link, .llogin a:visited{ color: #9ea0a3;}
.llogin a:hover{color: #ff6500;}

.loginform{width:350px;margin: 0 auto;border-top: 1px solid #fff;}
.loginform_title{ height: 30px;line-height: 30px;}
.loginform_title2{ height: 18px;line-height: 18px;}
.relative{ position: relative;}
.absolute{position: absolute;}
.error{ color: red;}
.lgerror{top:50px;left:0;}
.lg_text{ width:340px;border:1px solid #bac2d3;padding:13px 0;}
.lg_text_yz{width:245px;}
.lgsubmit{width:342px;height:50px;border:0 none; color: #fff; background-color: #ff6500;font-size: 18px;cursor: pointer;border-radius: 5px;}
.lgsubmit:hover{ opacity: 0.95;}

.lfoot{ height: 100px;line-height:100px; background: #313541;}
.lfoottop_left a{ float:left;margin-top: 40px;font-size: 16px;color: #979797;margin-right: 42px;}
.lfoottop_right {margin-top: 40px;font-size: 14px;color: #757679;}
.lfootline{ border-top: 1px solid #464951;margin-top: 35px;}
.lfooturl{ margin-top: 15px;}
.tc{text-align:center;}
.reset_suc{ width:342px; height: 20px;line-height: 20px; text-align: center; background: #fde0ba; border-radius: 3px; }

